{% extends "bootstrap/base.html" %}

<!doctype html>
<html>
    {% block styles %}
    {{super()}}
        <link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
    {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <body>
    {% include 'nav.html' %}

    {% block content %}
    {% endblock %}


    </body>
</html>