<!-- page reservée à l'administrateur  -->


{% extends "base.html" %}
{% set active_page = "dashboard" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 id = 'admin' class="page-header">Welcome Administrateur</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <a href="{{ url_for('security_parameters') }}"><h4>Paramétrage des options de sécurité</h4></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <a href="{{ url_for('clients_residentiels') }}"><h4>Liste des clients résidentiels</h4></a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" >
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <a href="{{ url_for('clients_affaires') }}"><h4>Liste des clients d’affaire   </h4></a>
            </div>
        </div>
      </div>
    </div>
{% endblock %}